body {
    background: url("wp2639558.jpg");
    background-repeat: no-repeat;
    width: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Caveat', cursive;
  }
  
footer{
      color: white;
      display: inline-block;
      position:absolute;
      top: 1000px;
      left: 10px;
  }
.logo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 10px;
   
  }
  
.logo img {
    width: 100px;
  }
  
.logo p {
    position: absolute;
    top: 40px;
    left: 17px;
    font-size: 20px;
    
  }
  
  
  
.btn {
    position: absolute;
    right: 70px;
    top: 48px;
    border 2px solid;
    border-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(57, 226, 113);
    font-family: 'Caveat', cursive;
    font-size: 20px;
    font-weight: 900;
  
  
  }
  
.btn:hover{
      background-color: green;
      cursor: pointer;
      color: white;
     
  }
  
.bar a{
    color: white;
    text-decoration: none;
  }
  
  
.bar{
    position: absolute;
    left: 420px;
    top: 50px;
    border: 2px solid rgb(57, 226, 113);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 05px;
  }
  
.bar a {
    padding: 20px;
    font-size: 25px;
   
    
  }
  
.bar a:hover{
      color: gray;
      text-decoration: underline;
  
  }
  
.bar a:active{
      color: gray;
      text-decoration: underline;}

.cnt h1{
    position: absolute;
    left: 100px;
    top: 100px;
    font-size: 50px;
    color: rgb(57, 226, 113);
}

#call{
  position: relative;
  height: 40px;
  top: 330px;
  left: 110px;
}

#mail{position: relative;
  height: 40px;
  top: 450px;
  left: 108px;


  
}
.ph{
  font-size: 30px;
  position: absolute;
  top: 355px;
  left: 170px;
}
.em{
  font-size: 30px;
  position: absolute;
  top: 425px;
  left: 170px;
}

.sec h2{
  position: absolute;
  top: 200px;
  left: 130px;
  font-size: 40px;
}
.sec h3{
  position: absolute;
  top: 270px ;
  left:160px ;
}